@font-face {
    font-family: 'Berkeley Mono';
    src: url('BerkeleyMono-Bold.eot');
    src: url('BerkeleyMono-Bold.woff2') format('woff2'),
         url('BerkeleyMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    src: url('BerkeleyMono-Regular.eot');
    src: url('BerkeleyMono-Regular.woff2') format('woff2'),
         url('BerkeleyMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Regio Mono';
    src: url('regiomono-light-font.woff2') format('woff2'),
         url('regiomono-light-font.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Regio Mono';
    src: url('regiomono-regular-font.woff2') format('woff2'),
         url('regiomono-regular-font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Regio Mono';
    src: url('regiomono-medium-font.woff2') format('woff2'),
         url('regiomono-medium-font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Regio Mono';
    src: url('regiomono-semibold-font.woff2') format('woff2'),
         url('regiomono-semibold-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Regio Mono';
    src: url('regiomono-bold-font.woff2') format('woff2'),
         url('regiomono-bold-font.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
