#hero_text {
  display: inline-flex; 
  align-items: center;
  position: relative; 
}

#hero_pages {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: burlywood;
  opacity: 0;
  position: absolute; 
  right: 23.5px; 
  /* transform: translateX(-50%) scale(0);  */
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1; 
  white-space: nowrap; 
}

#hero_text:hover #hero_pages {
  opacity: 1;
  /* transform: translateX(-50%) scale(1);  */
}

.style_hero_main {
  position: relative;
  z-index: 0; 
}

.hero_text{
  transition: all 0.3s ease;
}

#hero_text:hover .hero_text:first-child{
  padding-right: 47.5px;
}