
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    color: #fff;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

.cursor {
    display: none;
}

@media (any-pointer: fine) {
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
        z-index: 100000;
    }
}

.underline {
    transform: rotate(-4deg) !important;
}

.tagline::selection,
*::selection {
    background-color: rgba(8, 84, 161, 0.678);
}

.innovative::selection {
    background-color: rgba(255, 0, 149, 0.675);
}

.custom-cursor {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}

.skillRows {
    -webkit-box-shadow: inset 3px 7px 41px -4px rgba(59, 130, 212, 1);
    -moz-box-shadow: inset 3px 7px 41px -4px rgba(59, 130, 212, 1);
    box-shadow: inset 3px 7px 41px -4px rgba(59, 130, 212, 1);
}

.experience {
    display: flex;
    /* lays out children side-by-side */
    flex-wrap: nowrap;
    /* prevents wrapping to a new line */
    overflow-x: scroll;
    /* or hidden if Lenis is handling scroll, 
                               but typically we keep scroll so 
                               the user can scroll if JS is disabled */
    scrollbar-width: none;
    /* optional - hide scrollbar in Firefox */
    -ms-overflow-style: none;
    /* optional - hide scrollbar in IE/Edge */
}

.experience::-webkit-scrollbar {
    display: none;
    /* optional - hide scrollbar in Chrome/Safari */
}


.customShadow {
    -webkit-box-shadow: inset 3px 5px 46px -18px rgba(22, 138, 196, 1);
    -moz-box-shadow: inset 3px 5px 46px -18px rgba(22, 138, 196, 1);
    box-shadow: inset 3px 5px 46px -18px rgba(22, 138, 196, 1);
    transition: all 0.19s ease-in-out;
}

.customShadow:hover {
    scale: 1.01;
    -webkit-box-shadow: inset 3px 5px 46px -14px rgba(22, 138, 196, 1);
    -moz-box-shadow: inset 3px 5px 46px -14px rgba(22, 138, 196, 1);
    box-shadow: inset 3px 5px 46px -10px rgba(22, 138, 196, 1);
}